<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="/">ASP.NET Core Angular 2 starter</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="/" routerLinkActive="active" class="btn">Home</a></li>
                <li><a routerLink="/about" routerLinkActive="active" class="btn">About</a></li>
                <li><a routerLink="/heroes/dashboard" routerLinkActive="active" class="btn">Hero Dashboard</a></li>
                <li><a routerLink="/heroes" routerLinkActive="active" class="btn">Heroes</a></li>
                <li><a routerLink="/scratchpad" routerLinkActive="active" class="btn">Scratchpad</a></li>
                <li><a routerLink="/lazy-heroes" routerLinkActive="active" class="btn">Lazy Heroes</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="starter-template">

        <h1>{{title}}</h1>

        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones
            HTML document.
        </p>

        <router-outlet></router-outlet>

        <hr>

        <footer>
            <p>&copy; {{copyYear}} </p>
        </footer>
    </div>
</div>
<!-- /.container -->