<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" routerLink="">ASP.NET Core Angular 2</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a routerLink="" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/about" routerLinkActive="active">About</a></li>
                <li><a routerLink="/heroes/dashboard" routerLinkActive="active">Hero Dashboard</a></li>
                <li><a routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
                <li><a routerLink="/lazy-heroes" routerLinkActive="active">Lazy Heroes</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Misc <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a routerLink="/scratchpad" routerLinkActive="active">Scratchpad</a></li>
                        <li><a routerLink="/restricted" routerLinkActive="active">Restricted</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="user && isLoggedIn; else notLoggedUser;" class="dropdown">
                    <a href="#" class="dropdown-toggle" id="menu-user-name" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        {{user.profile.name}} <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a (click)="logOut()" href="#">Logout</a></li>
                    </ul>
                </li>
                <ng-template #notLoggedUser>
                    <li><a (click)="logIn()" href="#">Login</a></li>
                </ng-template>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <div class="starter-template">

        <h1>{{title}}</h1>

        <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones
            HTML document.
        </p>

        <router-outlet></router-outlet>

        <hr>

        <footer>
            <p>&copy; {{copyYear}} </p>
        </footer>
    </div>
</div>
<!-- /.container -->