<div class="row">
    <div class="col-md-12">
        <br/>
        <br/>
        <h2>{{message}}</h2>

        <h3>Values from ASP.NET CORE WebAPI</h3>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let value of values">
                <span>{{value}} </span>
            </li>
        </ul>
    </div>

    <hr>

    <div class="jumbotron hide">
        <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes
            the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
        <p>
            <a class="btn btn-lg btn-primary" href="#" role="button"><i class="fa fa-camera-retro fa-lg"></i> Test</a>
        </p>
        <div class="color">
            <div class="orange">
                should be orange
                <div class="green">
                    should be green
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12">
        <div class="scratchpad-only">
            this should be styled by scratchpad styles component
        </div>
        <i class="fa fa-rebel fa-5x" aria-hidden="true"></i>
    </div>
    
</div>